<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <% if (username) { %>
        <h1>Hello, <%= username %></h1>
        <a href="/members">Members</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    <% } %>
</body>
</html>
